body{
    background-color:#b6c199;
        @media only screen and (min-width: 300px) and (max-width:600px) {
            .header{
                font-family: 'Rubik Dirt', cursive;
                font-size: 2vh;
                background-color: green;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 3px solid black;
                height: 50px;
                box-shadow: 4px 4px 6px rgba(0, 0, 0, .25); 
            }
        }
        @media only screen and (min-width: 600px) and (max-width: 800px) {
            .header{
                font-family: 'Rubik Dirt', cursive;
                font-size: 5vh;
                background-color: aqua;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 3px solid black;
                height: 75px;
                box-shadow: 4px 4px 6px rgba(0, 0, 0, .25); 
            }
        }
        @media only screen and (min-width:800px) and (max-width:1100px){
            .header{
                font-family: 'Rubik Dirt', cursive;
                font-size: 7vh;
                background-color: purple;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 3px solid black;
                height: 100px;
                box-shadow: 4px 4px 6px rgba(0, 0, 0, .25); 
        }
    }
}
@mixin btn{
    cursor: pointer;
    width: 50%;
}
.header {
    font-family: 'Rubik Dirt', cursive;
    font-size: 10vh;
    background-color: #ceb92c;
    gap: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    height: 150px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, .25);
    & a{
        text-decoration: none;
        color: black;
    }
}
.loginForm{
    width: 20%;
    background-color: #fee36e;
    #emailForm{
        width:100%;
        background-color: #808080;
        color:white;
    }
    #passwordForm{
        width:100%;
        background-color: #808080;
        color:white;
    }
}
.Container {
    height: 85vh;
    width: 80%;
    float: right;
    background-color: #eeff1b;
    border: 2px solid black;
    .containerContent{
        width:30%;
        background-color: purple;
    }
}
.navMenu{
    width:20%;
    .menuContent{
        border: 1px solid black;
        font-family: 'Calligraffitti', cursive;
        font-weight: bold;
        border: 1px solid gray;
        align-items: center;
        background-color:#7d94b5;
        color: #eeff1b;
    h3{
        font-size: 3vh;
        font-family: 'Rubik Dirt', cursive;
        color: black;
        }
    .card {
        border: 1px solid gray;
        box-shadow: 4px 4px 6px rgba(0, 0, 0, .25);
        border-radius: 8px;
        align-items: center;
        height: 7vh;
    &:hover {
        border: 1px solid black;
        box-shadow: 4px 4px 6px rgba(0, 0, 0, .25);
        border-radius: 8px;
        height: 8vh;
        align-items: center;
        transition: 1s;
        }
    a{
        text-decoration:none;
        color: inherit;
        }
    }
}}
.logBtn{
   @include btn;
    background-color: red;
}
.regBtn{
    @include btn;
    background-color: green;
    float: right;
}
